- name: Configure EC2 and deploy FastAPI
  hosts: fastapi
  become: yes

  tasks:

    - name: Update system
      apt:
        update_cache: yes
        name: python3-pip
        state: present

    - name: Install git
      apt:
        name: git
        state: present

    - name: Clone FastAPI project from GitHub
      git:
        repo: https://github.com/manju-209/fastapi-terraform-ec2.git
        dest: /home/ubuntu/app
        clone: yes
        update: yes

    - name: Install Python requirements
      pip:
        requirements: /home/ubuntu/app/requirements.txt
        executable: pip3

    - name: Install uvicorn if missing
      pip:
        name: uvicorn
        executable: pip3

    - name: Run FastAPI app in background
      shell: |
        nohup uvicorn main:app --host 0.0.0.0 --port 8000 > output.log 2>&1 &
      args:
        chdir: /home/ubuntu/app
